In [3]:
print("aryan salge ", 34, "years old")

aryan salge 34  34 years old

In [2]:
"""this comment is
extra vlueable
"""
print("he;llo")

he;llo

In [5]:
print("hello world\npink pink")

hello world
pink pink

In [7]:
name= "aryan"
age=34
print(name, age)
print(f"my name is {name}, my age is{age}")

aryan 34
my name is aryan, my age is34

In [9]:
a= 20
b= 49

In [12]:
a, b=b,a
print("after swapping: a=", a,"b=",b)

after swapping: a= 49 b= 20

In [21]:
a="aryan"
b=45
c=34.55
d=True
x = complex('3+5j')
print(type(x))
print(type(d))

<class 'complex'>
<class 'bool'>

In [24]:
user=(input("whats ur city"))
print(f"your city {user} is beautiful")

whats ur citypink
your city pink is beautiful

In [25]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [27]:
a=-3
b= 3.6
print(float(a))

-3.0

In [41]:
c= complex(3,4)
print("reakl", c.real)
print("img", c.imag)

reakl 3.0
img 4.0

In [44]:
c=["ar","ry","ta","cg"]
tu=(4,5,6,35,6)

In [46]:
c[2]="app"

In [48]:
tu[0]=56

TypeError: 'tuple' object does not support item assignment