In [1]:
import sys

In [3]:
print("heello world", sys.version)

heello world 3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd

In [11]:
print(pd.__version__)

2.2.2

In [13]:
name=input("enter your name: ")
print(f"welcome {name} happy learning")

enter your name: aryan
welcome aryan happy learning

In [14]:
for i in range(1,6):
  print("*" * i)

*
**
***
****
*****

In [16]:
a = float(input("enter num 1: "))
b= float(input("enter num 2: "))

print("sum", a+b)
print("diff", a-b)
print("mult", a*b)

if a!= 0:
  print("quotient", a/b)
else:
  print("cannot divide by zero")

enter num 1: 0
enter num 2: 8
sum 8.0
diff -8.0
mult 0.0
cannot divide by zero

In [18]:
filename=(input("enter file name: "))
ext=filename.split(".")[-1]
print(ext)

enter file name: fg.cvb
cvb

In [20]:
nums=[float(input("enter num: ")) for _ in range(3)]
print("largest: ", max(nums))
print("smallest: ", min(nums))

enter num: 9
enter num: 7
enter num: 7
largest:  9.0
smallest:  7.0

In [21]:
nums=print(input("enter a num: "))
nums=[float(input("enter a num: ")) for _ in range(5)]
print("largest",max(nums))

enter a num: ^
^
enter a num: 7
enter a num: 4
enter a num: 6
enter a num: 3
enter a num: 5
largest 7.0

In [26]:
sentence = input("enter  a sent: ")
words=sentence.split(",")
print("number of words: ", len(words))

enter  a sent: bhbh ububnun ,niu
number of words:  2

In [30]:
for i in range (1,51):
  if i%5 ==0:
    continue
  print(i, end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49

In [31]:
num = int(input("enter a  num: "))
if num %2==0:
  print("even")
else:
  print("odd")

enter a  num: 7457
odd

In [38]:
year = int (input("enter a year: "))
if (year%4==0 and year % 100 != 0) or (year % 400==0):
  print("leap year")
else:
  print("not one")

enter a year: 2024
leap year

In [41]:
c= float(input("enter a temp: "))
f=(c*9/5)+32
print("temp in f is : ",f)

enter a temp: 0
temp in f is :  32.0